# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
storybook-static

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
src/types/ethers
src/types/truffle
src/types/web3

# dependencies
/node_modules
package-lock.json
#pnpm-lock.yaml
yarn.lock

# testing
/coverage

# production
/build
/lib

# misc
.DS_Store
.env

npm-debug.log*
yarn-debug.log*
yarn-error.log*
