public-hoist-pattern[]='@docusaurus/*'
public-hoist-pattern[]=@mdx-js/react
public-hoist-pattern[]=url-loader
public-hoist-pattern[]='*ipfs*'
public-hoist-pattern[]='web3*'
public-hoist-pattern[]='follow-redirects'
public-hoist-pattern[]='sqlite3'
public-hoist-pattern[]='react'
public-hoist-pattern[]='react-dom'
hoist=false
