public-hoist-pattern[]='@docusaurus/*'
public-hoist-pattern[]=@mdx-js/react

public-hoist-pattern[]='@storybook/*'
public-hoist-pattern[]='@walletconnect/*'

public-hoist-pattern[]=url-loader
public-hoist-pattern[]='*ipfs*'
public-hoist-pattern[]='web3*'
public-hoist-pattern[]='follow-redirects'
public-hoist-pattern[]='sqlite3'

public-hoist-pattern[]='react'
public-hoist-pattern[]='react-dom'
public-hoist-pattern[]='@types/react'
public-hoist-pattern[]='@types/react-dom'

public-hoist-pattern[]='@redux-saga/*'


public-hoist-pattern[]='optionator'
public-hoist-pattern[]='buffer'
public-hoist-pattern[]='rollup-plugin-node-polyfills'

hoist-pattern[]='*eslint*'
hoist-pattern[]='*prettier*'

hoist=false
