name: Actions

on:
  push:
    branches:
      - master
      - develop
  pull_request: ~

jobs:
  run-tests:
    name: Run Tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: "14.17"
      # Set login for package registries
      - run: npm set //registry.npmjs.org/:_authToken=${{secrets.NPMJS_TOKEN}}
      - run: npm set //npm.pkg.github.com/:_authToken=${{secrets.GPR_TOKEN}}
      - run: npm install
      - run: npm test
